name: Update Coverage Badge

on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

jobs:
  update-badges:
    name: Update Badges
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Dependencies
        run: npm install

      - name: Get the coverage
        run: npm run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-actions@v3